/* From here Category css start */
.wishlist{
    width: 12px;
    height: 15px;
    padding: 10px 0px 0px 10px;
}
.wishlist:hover{
    cursor: pointer;
}
.icon-wishlist{
    width: 20px;
    height: 20px;
    display: inline-block;
    padding-bottom: 0px;
}
body{
    margin: 0px;
}
.catimage{
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
#facial-image-height{
    height: 281px;
    background-image: url(https://images.forestessentialsindia.com/pub/media/catalog/category/1_Facial_Care_MG_7073_final_2880x640-min-min_1.jpg);
}
#collections-image-height{
    height: 400px;
    background-image: url(https://images.forestessentialsindia.com/pub/media/catalog/category/6_Collections_2880-x-840-Domestic.jpg);
}
.catname{
    background-color: rgba(0,0,0,0.5);
    width: 280px;
    letter-spacing: 7px;
    font-family: sans-serif;
}
.cattag{
    padding: 30px 10px ;
}
.cattag span{
    margin-left: 4px;
    font-size: 13px;
    font-family: calibri;
    letter-spacing: 2.8px;

}
.cattag a{
    text-decoration: none;
}
#facialproducts {
    display: grid;
    width: 1260px;
    margin: auto;
    grid-template-rows: auto;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}
#facialproducts>div{
    background-color: #fbf9f9;
    font-size: 14px;
    font-family: calibri;
    letter-spacing: 2.8px;
    width: 315px;
}
#facialproducts>div p{
    padding: 0px 20px ;
}
#facialproducts .price{
    padding: 20px;
}
button{
    padding: 15px 30px;
    width: 100%;
    margin-bottom: 20px; 
    color: black;
    border: 1px solid black;
    font-size: 14px;
    font-family: calibri;
    letter-spacing: 2.8px;
}
#facialproducts div>p{
    height: 60px;
}

/* css for newlatter starts from here */
#newslettercontainer{
    background-image: url(https://images.forestessentialsindia.com/pub/media/cms_images/newsletter-bg.jpg);
    text-align: center;
    height: 250px;
    background-size: cover;
    padding: 98px 0px;
    margin: 100px;
}
#newslatter{
    width: 700px;
    height: 300px;
    color: white;
    margin: auto;
} 
p{
    border: 1px solid transparent;
    line-height: 35px;
    font-size: 19px;
    width: 90%;
    letter-spacing: .5px;
}
.inputfield{
    border: none;
    padding: 14px 27px;
    font-size: 12px;
    height: 20px;
    font-family:calibri;
    width: 210px;
    letter-spacing: 3px;
}
#newslettercontainer button{
    background-color: #d2ab67;
    border: 1px solid #d2ab67;
    color: white;
    padding: 15px 15px;
    font-size: 13px;
    width: 150px;
    height: 48.5px;
    letter-spacing: 3px;
}
#newslettercontainer button:hover{
    background-color: black;
    border-color: white;
}
#newslatter a{
    color: white;
    text-decoration: none;
}
/* #checkbox{
    border: 1px solid black;
   background-color: black;
} */
#footer,#xyz{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-evenly;
    font-family: calibri;
    color: rgb(85, 80, 80);
    margin-top: 100px;
}
#footer>div,#xyz div{
    height: 300px;
    width: 23%;
}
#xyz img{
    height:100px ;
    width:100px;
}
#xyz h2{
    margin-top: 40px;
    font-weight: normal;
    letter-spacing: 2px;
}
#xyz p{
    font-size: 15px;
    line-height: 27px;
    width: 100%;
}
#footer{
    margin: 30px auto;
}
#footer ul{
    list-style: none;
}
#footer h4,#footer li{
    font-size: 11px;
    line-height: 36px;
    letter-spacing: 2.8px;
    color: #000;
}
#footer h4{
    border-top: 1px solid #e8e8e8;
    margin: 80px 0 30px;
    padding-top: 30px;
    font-weight: normal;
}
#footer a{
    text-decoration: none;
}
#footer .a{
    color:#000;
    border-bottom: 1px solid #8d8080;
    padding-bottom: 3px;
}
#footer p{
    font-size: 16px;
}
#footer ul{
    padding: 0px;
    margin: 0px;
}
.fa{
    width: 25px;
    height: 25px;
}
#right{
    display: flex;
    width: 80%;
    height: 150px;
    justify-content: space-between;
    margin: auto;
    margin-top: 250px;
}
#right>div{
    padding: 0px 10px;
    width: 48%;
}
#right span{
    letter-spacing: 2.8px;
    display: block;
    padding-bottom: 40px;
    padding-top: 25px;
    font-size: 13px;
    border-top: 1px solid #e8e8e8;
}
