body{
    margin: 0px;
}
#facialcare{
    border:#fbf9f9 solid 1px;
     width: 100%;
    height: 290px;
    background-image: url("https://images.forestessentialsindia.com/pub/media/catalog/category/1_Facial_Care_MG_7073_final_2880x640-min-min_1.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
#gifting_vishnu{
    border:#fbf9f9 solid 1px;
     width: 100%;
    height: 290px;
    background-image: url("https://images.forestessentialsindia.com/pub/media/catalog/category/Gifting-Collection-Banner.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
#gifting_vishnu>p{
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 50px;
    color: white;
    font-family: calibri;
    letter-spacing: 2.8px;
}
#facialcare>p{
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 50px;
    color: white;
    font-family: calibri;
    letter-spacing: 2.8px;
}
#facialcarefilter{
    border: 1px solid transparent;
    width: 100%;
    height: 100px;
    background-color: #fbf9f9 ;
    letter-spacing: 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.filterbutton{
    border:1px solid black;
    background-color: #fbf9f9 ;
    width: 270px;
    height: 50px;
    margin-right: 10px;
}
.sortbutton{
    border: 1px solid black;
    background-color: #fbf9f9 ;
    width: 270px;
    height: 50px;
}
#facialcontainer{
    border: black solid transparent;
    width: 100%;

}
.facialhome{
    background-color: white;
    border: blue solid transparent;
    width: 100%;
    height: 100px;
}
.facialhome>p{
    margin-left:35px ;
    margin-top: 60px;
    letter-spacing: 2px;
}
.facialproducts{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
}
.productbutton{
    border: black solid 1px;
    background-color:#fbf9f9 ;
    margin-left: 10px;
    margin-bottom: 10px;
    width:290px;
    height: 50px;
    cursor: pointer;
    letter-spacing: 1px;
}
.productdiv{
    background-color:#fbf9f9 ;
    width: 23%;
    margin-top: 20px;
    border:1px solid transparent;
}
.facialfooter{
    width: 100%;
    height: 100px;
    border: black solid transparent;
    padding: 20px;
 }
 .facialfooter>p{
     line-height: 25px;
     letter-spacing: 1px;
 }
 .smalldiv>p{
     font-size: 14px;
     margin-left: 10px;
     letter-spacing: 2px;
 }
 .wishlistimg{
     width: 12px;
     height: 15px;
     padding: 10px 0px 0px 10px;
 }
 .wishlistimg:hover{
     cursor: pointer;
 }
 .icon-wishlist{
    width: 20px;
    height: 20px;
    display: inline-block;
    padding-bottom: 0px;
 }

 @media screen and (max-width:768px) {
    #facialcare{
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
    }
    .facialproducts{
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        margin: auto;
        justify-content: space-between;
    }
    .facialproducts>div{
        width: 48%;
    }
 }
 @media screen and (max-width:375px){
    .filterbutton{
        margin-left: 0px;
        margin-bottom: 10px;
    }
    .facialproducts{
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        margin: auto;
        justify-content: space-between;
    }
    .facialproducts>div{
        width: 100%;
    }
 }