@font-face{
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
        url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
        url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons{
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    margin-top: 10px;
    cursor: pointer;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}


/********************HEADER*****************************/

.main--Navbar{
    font-size:10px;
}
.main--Navbar *{
    box-sizing: border-box;
}

/************** Notification *********************/
.ads{
    background:#333;
    color:#fff;
    height:5vh;
    font-size:1em;
    text-align: center;
    letter-spacing:1.8px;
    line-height:14px;
    padding: 10px 10px 8px 10px;
    overflow:hidden;
}

.notify{
    display: none;
    animation: left-side .1s ;
}


@keyframes left-side{
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}




/*******************Navbar ***************/
.navbar{
    background: #fbf9f9;
    
}

/* nav-1 */
.navbar--1{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width:95%;
    margin:auto ;
    padding:1.5em;
    text-transform: uppercase;
    font-size:1em;
    letter-spacing:3px;
    line-height: 15.7143px;
    border-bottom:1px solid #ebebeb;
    font-weight: 400;
    color:#888;
}
.INR{
    letter-spacing:3px;
    border: none;
    font-size:1em;
    background: #fbf9f9;
}
.submenu--left , .submenu--right{
    display: flex;
    justify-content:space-between;
    align-items:center;
}

.margin-right{
    margin-right:1em;
}

.submenu-mg{
    margin-right:4em;

}

.mg-medium{
    margin-right:2em;
}

.submenu--logo{
    width:16em;
    height:10.7em;
}

/* nav-2 */
.navbar--2{
    background:#fbf9f9;
}

.navbar_nav{
    display: flex;
    justify-content:center;
    align-items:center;
    list-style:none;
    text-transform:uppercase;
    font-size: larger;
    letter-spacing:3px;
    padding:1em;
    color:rgb(0, 0, 0);
    margin:0;
    line-height: normal;
    font-stretch: expanded;
    font-weight:100;


    
}

.nav-item{
    margin-right:3em;
}

.nav-link , .nav-link:link , .nav-link:active{
    text-decoration: none;
    color:#888;
}


.comment-tag{
    display:flex;
    align-items:center;
}
.comment-tag img{
    margin-top:-7px;
    margin-right:.5em;
    width:32px;
    height:32px;
}

.festivel-tag{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

}
.festivel-tag img{
    width:40px;
    height:40px;
    margin-top:-4em;
    

}

/******************ON SCROLL EDIT NAV *********************/
.nav_scroll{
    box-shadow: 0 2px 3px rgb(57 63 72 / 20%);
    position: sticky;
    top: 0;
    z-index: 9;
    background: #fbf9f9;
}
.nav_scroll .submenu--logo{
    width:8.5em;
    height:5em;
}
.nav_scroll .navbar--1{
    padding:1em;
}


/*****************cart ********************/

.cart{

    position:relative;
}

.cart > span{
    position: absolute;
    display:inline-block;
    z-index: 1; 
    width:25px;
    height:25px;
    border: 1px solid black;
    left:10px;
    top: 10px;
    border-radius: 50px;
    text-align:center;
    padding-top:5px;
    padding-left:2px;
    color:#fff;
    background:black;

} 

/******************************SEARCH*******************************************/


.search{
    height:20vh;
    color:#757575;
    width:95%;
    margin:auto;
    text-align: center;
    position:relative;
    z-index:1;
    margin-top:1%;
    
}
#hide{
    display:none;
}

.search--div{

    padding-right:1em;
    background:#fff;
    border: 2px solid #eee;
    margin: auto;
    display:inline-block;
    width:50%;
    margin-top:4em;
    
}


.search_input{
    width:55em;
    height: 50px;
    padding: 0 15px;
    margin: 0;
    font-family: inherit;
    font-size: 1em;
    letter-spacing: 3px;
    text-transform: uppercase;
    border: none;
}

.search_input:focus{
    outline:none;
}

.cross--icon{
    position:absolute;
    width:2em;
    height:2em;
    right:1em;
    top:50px;
    cursor: pointer;
    


}

#search{
    outline:none;
}



/* MAIN SIGN UP CONTENT  */

/* SIGN UP CONTENT START  */
    #main_signup_div{
        width: 50%;
        margin: auto;
        border: 1px solid transparent;
        padding: 20px;
        font-family: sans-serif;
        word-spacing: 1px;
    }
    #main_signup_div>h2{
            font-size: xx-large;
            font-weight: lighter;
        }
    #main_signup_div>div{
        width: 80%;
        border: 1px solid transparent;
        margin: auto;
        height: 650px;
}

/* SIGN UP FORM TABLE DIV */
.signup_form_table_div{
    display: flex;
}

/* SIGN UP FORM IN TABLE FORM  */
    .signup_form_label{
        text-align: left;
        width: 500px;
        padding-top: 10px;
        padding-bottom: 10px;
        color: rgb(87, 86, 86);
        font-weight: lighter;
    }
    #signup_pleaseselect{
        width: 300px;
        height: 40px;
        color: rgb(87, 86, 86);
    }
    #firstname{
        width: 300px;
        height: 40px;
    }
    #lastname{
        width: 300px;
        height: 40px;
    }
    #customeremail{
        width: 300px;
        height: 40px;
    }
    #customerphnnum{
        width: 300px;
        height: 40px;
    }

/* PASSWORD SECTION  */
    #password{
        width: 300px;
        height: 40px;
    }
    #confirmpassword{
        width: 300px;
        height: 40px;
    }

/* SIGN UP BUTTON */
    #signup_button{
        font-size: larger;
        font-weight: lighter;
        background-color: transparent;
        border: 1px solid black;
        width: 100%;
        padding: 10px;
        color: rgb(87, 86, 86);
    }
    #signup_button:active{
        background-color: black;
        color: white;
    }
    #signup_button:hover{
        background-color: black;
        color: white;
    }

@media only screen and (min-width: 0px) and (max-width: 375px){
    /* MAIN SIGN UP CONTENT  */

    /* SIGN UP CONTENT START  */
    #main_signup_div{
        width: 98%;
        margin: auto;
        padding: 10px;
    }
    #main_signup_div>h2{
            font-size: x-large;
        }
    #main_signup_div>div{
        width: 90%;
        border: 1px solid transparent;
        margin: auto;
        height: 650px;
    }

    /* SIGN UP FORM TABLE DIV */
    .signup_form_table_div{
    display: block;
    }

    /* SIGN UP FORM IN TABLE FORM  */
    .signup_form_label{
        width: 300px;
    }
    #signup_pleaseselect{
        width: 300px;
        height: 30px;
        color: rgb(87, 86, 86);
    }
    #firstname{
        width: 300px;
        height: 30px;
    }
    #lastname{
        width: 300px;
        height: 30px;
    }
    #customeremail{
        width: 300px;
        height: 30px;
    }
    #customerphnnum{
        width: 300px;
        height: 30px;
    }

    /* PASSWORD SECTION  */
    #password{
        width: 300px;
        height: 30px;
    }
    #confirmpassword{
        width: 300px;
        height: 30px;
    }
}

@media only screen and (min-width: 376px) and (max-width: 768px){
    /* MAIN SIGN UP CONTENT  */

    /* SIGN UP CONTENT START  */
    #main_signup_div{
        width: 98%;
        margin: auto;
        padding: 10px;
    }
    #main_signup_div>h2{
            font-size: x-large;
        }
    #main_signup_div>div{
        width: 90%;
        border: 1px solid transparent;
        margin: auto;
        height: 650px;
    }

    /* SIGN UP FORM TABLE DIV */
    .signup_form_table_div{
    display: flex;
    }

    /* SIGN UP FORM IN TABLE FORM  */
    .signup_form_label{
        width: 300px;
    }
    #signup_pleaseselect{
        width: 300px;
        height: 30px;
        color: rgb(87, 86, 86);
    }
    #firstname{
        width: 300px;
        height: 30px;
    }
    #lastname{
        width: 300px;
        height: 30px;
    }
    #customeremail{
        width: 300px;
        height: 30px;
    }
    #customerphnnum{
        width: 300px;
        height: 30px;
    }

    /* PASSWORD SECTION  */
    #password{
        width: 300px;
        height: 30px;
    }
    #confirmpassword{
        width: 300px;
        height: 30px;
    }
}